include "config/autostart.kdl"
include "config/binds.kdl"
include "config/debug.kdl"
include "config/eyecandy.kdl"
include "config/input.kdl"
include "config/output.kdl"
include "config/rules.kdl"
include "config/workspaces.kdl"
include "matugen.kdl"
